.Message_window {
    align-self: center;
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
  
h1 {
    text-align: center;
  }

message_other {
    float: left;
    width: 40%;
    border: 3px solid red;
    text-align: left;
  }

message_self {
    float: right;
    width: 40%;
    border: 3px solid green;
    text-align: left;
}

message_button {
    margin-left: 0;
    margin-right: 50%;
}

  

  