.Message {
    text-align: center;
}

.chat-body {
    height: calc(450px - (45px + 70px));
     border: 1px solid #263238;
    background: #fff;

    position: relative;
}

.chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.input-body {
    width: 575px;
    height: auto;
}